$skyblue: #92CDE1;

html {
  background-color: $skyblue;
  // background: url('img/modern-treehouse-edit.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  background-attachment: fixed;
}

.welcome {
  background-color: rgba(186, 197, 212, 0.8);
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 2px;
  margin-bottom: 15px;
}

.jumbotron {
  background-color: rgba(101, 132, 142, 0.7);
  text-align: center;
  margin-top: 5px;
  a {
    font-family: 'Arimo', sans-serif;
  }
}

.body {
  background-color: rgba(101, 132, 142, 0.7);
  padding: 20px;
  font-size: 130%;
  a {
    font-weight: bold;
    color: #2C4047;
    font-family: 'Russo One', sans-serif;
  }
  a:hover {
    color: white;
  }
}

li {
  margin: 10px;
}

.btn {
  background: rgba(53, 145, 127, 0.5);
  border: solid 1px black;
}

.btn:hover {
  background: rgba(106, 199, 181, 0.5);
}

footer {
  font-family: 'Russo One', sans-serif;
  a {
    color: #2C4047;
  }
}


@import "ember-bootstrap/bootstrap";
