<h2>More information about {{announcement.name}} on {{announcement.date}}</h2>
{{update-announcement announcement=model update="update"}}

{{announcement-detail announcement=model destroyAnnouncement='destroyAnnouncement'}}
