<div>
  <h3>Announcements</h3>
  <ul>
    {{#each model as |announcement|}}
      {{announcement-tile announcement=announcement destroyAnnouncement="destroyAnnouncement" update="update"}}
    {{/each}}
  </ul>

  {{new-announcement saveAnnouncement="saveAnnouncement"}}
</div>
