<div class="body">
<h2>Announcement Info:</h2>

{{announcement-detail announcement=model destroyAnnouncement='destroyAnnouncement'}}
{{update-announcement announcement=model update="update"}}
<br><br>
<a href="/">Back</a>
</div>
