<h1>Welcome to super rentals!</h1>

<h3>Here are our rentals:</h3>

<ul>
  {{#each model as |rental|}}
    {{rental-tile rental=rental}}
  {{/each}}
</ul>

{{#link-to 'about'}}About us {{/link-to}} <br>
{{#link-to 'contact'}} Contact us {{/link-to}}
