<div class="jumbotron">
  <h1>Welcome to super rentals!</h1>
</div>

<h3>Here are our rentals:</h3>

<ul>
  {{#each model as |rental|}}
    {{rental-tile rental=rental}}
  {{/each}}
</ul>

{{new-rental saveRental="saveRental"}}

{{#link-to 'about'}}About us {{/link-to}} <br>
{{#link-to 'contact'}} Contact us {{/link-to}}<br>
{{#link-to 'announcements'}} Announcements {{/link-to}}
